render_template.py

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
*.sqlite3
*.log

# Env files
.env


# Virtual env
venv/
.venv/
.venv
env/
ENV/
.envrc

# IDE
.idea/
.vscode/


# Django
*.log
*.pot
db.sqlite3
*.sqlite3
media/
staticfiles/
static/



# Docker
*.pid
*.seed
*.bak
*.swp
*.swo
*.orig
*.tmp
*.db
docker-compose.override.yml


# MacOS
.DS_Store

